# Java
bin/
*.class
out/
target/

# IntelliJ
.idea/
*.iml

# Python
__pycache__/
*.pyc

# C++ build artifacts
native-relay-cpp/build/
native-relay-cpp/relay

*.o
*.out

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# macOS
.DS_Store